/* @media (prefers-reduced-motion: no-preference) {
  .img-trainers {
    scale: .8; 
    opacity: 0; 
    animation: fade-in linear forwards; 
    animation-timeline: view(); 
    animation-range: exit;
  }

  @keyframes face-in {
    to { scale : 1; opacity: 1;}    
  }
} */